<head>
	  <%= include_gon %>
</head>

<p id="notice"><%= notice %></p>

<p>
  <strong>Departure date:</strong>
  <%= @flightsearch.departure_date %>
</p>

<p>
  <strong>Arrival date:</strong>
  <%= @flightsearch.arrival_date %>
</p>

<p>
  <strong>Airport:</strong>
  <%= @flightsearch.airport %>
</p>

<p>
	<strong>Result:</strong>

	<%= @result["PlacePrices"][2]["Name"] %>
	<%= @result["PlacePrices"][2]["IndirectPrice"] %>
	<%= pp @result %>




</p>

<%= link_to 'Edit', edit_flightsearch_path(@flightsearch) %> |
<%= link_to 'Back', flightsearches_path %>
